<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>

    <body>
        <div style="margin-top:5%;display: block;">
            <!-- space acting nav -->
        </div>
        <div class="container">
            <div class="section_view_new">
                <form id="form">
                    <div class="row">
                        <div class="columns eight">
                            <div class="form-control">
                                <div class="row">
                                    <div class="columns three">
                                        <label for="cspname">Cities</label>
                               
                                    </div>
                                    <div class="columns seven">
                                        <input type="text" id="cspname" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns two">
                            <button type="submit" id="btn">Submit</button>
                        </div>
                    </div>
                    
                    
                </form>

            </div>
        </div>

    </body>
    <script>
        
    </script>

</html>