body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
  }
  
  .cities-input {
    outline: none;
  }
  
  .cities-input:focus {
    border: none !important;
    box-shadow: none !important;
  }
  .deg::after {
    content: "\00b0 C";
  }
  .card {
      border: none;
    }
  @media (min-width: 576px) {
    .card-columns {
      column-count: 2;
    }
  }
  
  @media (min-width: 768px) {
    .card-columns {
      column-count: 3;
    }
  }
  
  @media (min-width: 992px) {
    .card-columns {
      column-count: 4;
    }
  }
  
  @media (min-width: 1200px) {
    .card-columns {
      column-count: 5;
    }
  }
  